{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>keyword</title>
</head>
<body>
<h1>Youtube 검색</h1>
<h2><a href="/">게시판</a>   <a href="/search_write">글쓰기</a></h2>
<form method="post">
    {% csrf_token %}
    입력하세요 : <input name="keyword" type="text" value="{{keyword}}">
    <input type="submit" value="검색"><br>
    {% for row in vlist %}
        <input name="video_title" size="90" value="{{ row.video_title }}" autocomplete="off"><br>
        <input name="video_id" size="90" value="https://youtu.be/{{ row.video_id }}"><br>
        <textarea name="description" cols="80" rows="5">
            {{ row.description }}
        </textarea>
        <br><img src="{{ row.th_high }}" name="th_high"><br>
    {#    <div class="row">#}
    {#        <div class="col-md-16">#}
    {#            <div id="player"></div>#}
    {#        </div>#}
    {#    </div>#}
    {% endfor %}
</form>
</body>
</html>
{% for row in vlist %}
<script>
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            videoId: '{{ row.video_id }}'
        });
    }
</script>
{% endfor %}
